.vscode/*
.infracost/*
**/__pycache__/*
**/.terraform/*
**/.terraform.lock.hcl
**/secret.tfvars
**/*.tfplan
**/Chart.lock
**/ed25519_ssh_login_key_*
python/package-lock.json
python/templates/index.html.backup
gitleaks-report.json
.talismanrc
